@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=IM+Fell+English:ital@0;1&family=New+Rocker&family=Space+Grotesk:wght@300..700&family=Uncial+Antiqua&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&family=Quicksand:wght@500&family=Montserrat:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Great+Vibes&family=IM+Fell+English:ital@0;1&family=New+Rocker&family=Pacifico&family=Space+Grotesk:wght@300..700&family=Uncial+Antiqua&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Ananda";
  src: url("/fonts/Ananda.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.bindi {
  font-family: "Ananda", serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: #3b0017;
}
